@import 'universal.scss';

.habitacion {
  width: 150px;
  left: 0;
  z-index: 9;
  position: sticky;
  background-color: #eee;
  color: #222 !important;
}

.habitacion div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.iconoHabitacionPrivada {
  border: 0.15rem solid;
  padding: 1.2rem;
  border-radius: 100%;
}

.cama {
  position: sticky;
  left: 150px;
  top: auto;
  width: 200px;
  z-index: 9;
  background-color: #eee;
  color: #222 !important;
  border: solid #222 1px;
}
