@import 'universal.scss';

.contenedor {
  // navbar: 3.5rem + 1rem paddingBottom
  // botonera: 2.5rem + 1rem paddingBottom
  // footer: 4rem
  // TOTAL: 12.5rem
  height: calc(100vh - 12rem);
  overflow: scroll;
}

.footerReferencias {
  @extend .content;
  @extend .has-text-centered;
  padding-top: 25px;
  cursor: pointer;
}

table {
  text-align: center;
  border-collapse: separate !important;
  font-size: 16px;
}

table th,
table td {
  white-space: nowrap;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border: 1px solid rgba(0, 0, 0, 0.09) !important;
}

table td div,
table th div {
  min-width: 25px;
  max-width: fit-content;
}

.fecha {
  position: sticky;
  left: 0;
  z-index: 9;
  background: #ccc;
}

.hoy {
  position: sticky;
  left: 0;
  z-index: 9;
  background-color: #5f9cfa;
  color: $primary-invert !important;
}

.celdaHoy {
  // background-color: #9cd4ff;
  //background-color: #a1d6ff;
  background-color: #d9e8ff;
  //#d9e8ff
}
