@import 'universal.scss';

.botones {
  margin-bottom: 0 !important;
}

.botones button {
  margin-bottom: 0 !important;
}

.selectorDeFecha > div {
  @extend .input;
}

.calendario {
  border-radius: 4px;
  border-color: #dbdbdb;
}
