@import 'universal.scss';

.contenedor {
  border-radius: 20px;
  padding: 1.5rem;
  background-color: white;
  color: $color-tipografia;
}

.numeroDeReserva {
  font-size: 11px;
  margin-bottom: 0.2rem;
  margin-left: 0.1rem;
}

.nombre {
  font-size: 20px;
  font-weight: bold;
}

.estado {
  font-size: 14px;
  font-weight: normal;
  float: right;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

.estadoCancelada {
  @extend .estado;
  background-color: $gris-clarito;
}

.estadoCheckinPendiente {
  @extend .estado;
  background-color: $color-pastel-verde;
}

.estadoInHouse {
  @extend .estado;
  background-color: $color-pastel-azul;
}

.estadoHizoCheckout {
  @extend .estado;
  background-color: $color-pastel-rojo;
}

.fechas {
  text-align: left;
}

.cuerpo {
  margin-top: 22px;
}

.dato {
  margin-bottom: 0.5rem;
}

.dato span {
  font-size: 1.25rem;
  margin-right: 0.37rem;
  display: inline-block;
}

.dato p {
  display: inline-block;
  margin-left: 0.5rem;
}

.botones {
  @extend .columns;
  margin-top: 0.05rem;
}

.ocuparTodoElAncho {
  width: 100%;
}
