@import 'universal.scss';

.contenedor {
  margin-left: 0.25rem;
  position: absolute;
  top: 1.75rem;
}

.contenedor:hover::after {
  font-size: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: white;
  font-weight: 400;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.contenedorDeshabilitada {
  @extend .contenedor;
}

.contenedorDeshabilitada:hover::after {
  background-color: $danger;
  content: 'Está deshabilitada';
}

.contenedorHabilitada {
  @extend .contenedor;
}

.contenedorHabilitada:hover::after {
  background-color: $success;
  content: 'Está habilitada';
}
