@import 'universal.scss';

.estaSeleccionada {
  filter: brightness(40%);
  cursor: copy;
}

.estaHovereada {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.estadoCheckin {
  @extend .estaHovereada;
  background-color: $color-pastel-verde;
}

.estadoInhouse {
  @extend .estaHovereada;
  background-color: $color-pastel-azul;
}

.estadoHizoCheckout {
  @extend .estaHovereada;
  background-color: $color-pastel-rojo;
}
