@import 'universal.scss';

.esHoy {
  filter: drop-shadow(1px 7px 3px black);
}

.estaSeleccionada {
  filter: brightness(40%);
}

.colorCero {
  background-color: $azul-marino;
  border: 0 !important;
}

.colorUno {
  background-color: $azul;
  border: 0 !important;
}

.colorDos {
  background-color: $verde-agua;
  border: 0 !important;
}

.colorTres {
  background-color: $celeste;
  border: 0 !important;
}

.colorCuatro {
  background-color: $amarillo;
  border: 0 !important;
}

.colorCinco {
  background-color: $verde;
  border: 0 !important;
}

.colorSeis {
  background-color: $purpura;
  border: 0 !important;
}

.colorSiete {
  background-color: $bordo;
  border: 0 !important;
}

.colorOcho {
  background-color: $naraja;
  border: 0 !important;
}

.colorNueve {
  background-color: $fucsia;
  border: 0 !important;
}
