@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// // Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

$azul-marino: #001f3f;
$azul: #0074d9;
$celeste: #7fdbff;
$verde-agua: #39cccc;
$verde-oliva: #3d9970;
$verde: #2ecc40;
$verde-lima: #01ff70;
$amarillo: #ffdc00;
$naraja: #ff851b;
$rojo: #ff4136;
$bordo: #85144b;
$fucsia: #f012be;
$purpura: #b10dc9;
$negro: #111111;
$gris: #aaaaaa;
$plateado: #dddddd;

$gris-clarito: #dbdbdb;
$blue: #3260a8; //Probar con más azules
$primary: $blue;
$input-icon-color: #222;
$input-icon-active-color: $primary;

$color-tipografia: #222;

$color-pastel-verde: #aff8db;
$color-pastel-verde2: #bffcc6;
$color-pastel-azul: #6eb5ff;
$color-pastel-rojo: #ffabab;
$color-pastel-celeste: #ace7ff;
$color-pastel-amarillo: #fff5ba;
$color-pastel-violeta: #b28dff;
$color-pastel-rosa: #ffccf9;
$color-pastel-naranja: #ffabab;

@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-switch/dist/css/bulma-switch.sass';
@import '../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass';
@import '../node_modules/@creativebulma/bulma-divider/src/sass/index.sass';
@import '../node_modules/react-toastify/dist/ReactToastify';

/* INICIO: DateRangePicker */

.react-date-picker__calendar--open {
  z-index: 15;
}

.react-daterange-picker__calendar--open {
  z-index: 15;
  top: 0px !important;
  left: 280px !important;
}

abbr {
  text-decoration: none !important;
}

.react-calendar__tile--active,
.react-calendar__tile--rangeEnd {
  background: $blue;
  color: white !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--hasActive:enabled:hover {
  background: #006edc !important;
}

.react-calendar__month-view__days__day--weekend {
  color: $blue;
}

/* FIN: DateRangePicker */

.botonera {
  height: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*Inicio Scroll*/

::-webkit-scrollbar {
  width: 14px; // De la scrollbar vertical
  height: 14px; // De la scrollbar horizontal
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  background: #eee;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

/*Fin Scroll*/

/* INICIO: Le saca las flechitas a los inputs type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
/* FIN: Le saca las flechitas a los inputs type number */
