.dato {
  margin-bottom: 0.5rem;
}

.dato span {
  font-size: 1.25rem;
  margin-right: 0.37rem;
  display: inline-block;
}

.dato p {
  display: inline-block;
  margin-left: 0.5rem;
}

.lista {
  margin-left: 4rem;
}

.lista li {
  margin-top: 0.4rem;
}

.listaCamasDeHabitacionesCompartidas {
  list-style-type: disc;
  margin-left: 2rem;
}

.listaCamasDeHabitacionesCompartidas li {
  margin-top: 0.3rem;
}
