@import 'universal.scss';

.boton {
  @extend .button;
  width: 100%;
  margin-top: 0.5rem;
}

.textoDelBoton {
  margin-left: 0.5rem;
}

.contenedor {
  margin-top: 0.25rem;
  background-color: $white-ter;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  border-radius: 8px;
}

.dato {
  margin-bottom: 0.5rem;
}

.dato span {
  font-size: 1.25rem;
  margin-right: 0.37rem;
  display: inline-block;
}

.dato p {
  display: inline-block;
  margin-left: 0.5rem;
}

.lista {
  margin-left: 4rem;
}

.lista li {
  margin-top: 0.4rem;
}

.listaCamasDeHabitacionesCompartidas {
  list-style-type: disc;
  margin-left: 2rem;
}

.listaCamasDeHabitacionesCompartidas li {
  margin-top: 0.3rem;
}
