@import 'universal.scss';

.dato {
  margin-bottom: 0.5rem;
}

.dato span {
  font-size: 1.25rem;
  margin-right: 0.37rem;
  display: inline-block;
}

.dato p {
  display: inline-block;
  margin-left: 0.5rem;
}
